/* ESTILOS GENERALES DE LA PAGINA */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    background-image: url(../img/white-waves.png);
}


/* ESTILOS DEL HEADER PRINCIPAL */

header .etiqueta {
    width: 100%;
    max-width: 1700px;
    height: 35px;
    background: #002;
    color: #ccc;
    font-size: 19px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header .etiqueta .etiqueta-info {
    padding: 7px 30px;
}

/* NOMBRE DEL AUTOR /////////////////////////////////////////*/

header .contenedor .autor {
    margin-top: 45px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

header .contenedor .autor h1 {
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    color: #000;
}

main .contenedor .color {
    color: #d35400;
    font-size: 40px; 
} 

.contenido .content {
    font-size: 16px;
    
}


/* ITEMS MENU ///////////////////////////////////////////////////////////*/

header .contenedor .menu {
    padding-top: 10px;
    width: 100%;
    background: rgba(0,0,0,0.8);
    height: auto;
    box-shadow: 2px 2px 3px #333;
    display: flex;
    justify-content: center;
}

header .contenedor .menu a {
    margin: 0px 0px;
    padding: 0px 40px;
    width: 30%;
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

header .contenedor .menu a:hover{
    color: #1abc9c;
    border-bottom: 1px solid rgba(0,0,0, .1);
    /* padding-bottom: 10px; */
}







/* CAROUSEL IMAGENES */


/* .titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
} */

/* estilos de materialize */

/* .carousel {
    margin-top: 75px;
    min-height: 400px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 400px;
    height: 400px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators .indicator-item {
    border-radius: 0px;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #36221c;
} */


/*///////////////////////////////////Media querys*/

@media screen and (max-width: 1000px){
    header .contenedor .menu a {
        text-align: center;
        margin: auto;
        display: inline-block;
        display: flex;
        font-size: 25px;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 666px){
    header .contenedor .menu a {
        text-align: center;
        display: inline-block;
        display: flex;
        font-size: 25px;
        justify-content: center;
        margin: auto;
        flex-direction: column;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 666px){
    header .contenedor .menu a {
        text-align: center;
        display: inline-block;
        display: flex;
        font-size: 25px;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        padding: 10px 0px;

    }
}

@media screen and (max-width: 454px){
    header .contenedor .menu a {
        text-align: center;
        display: inline-block;
        display: flex;
        font-size: 25px;
        justify-content: center;
        margin: auto;
        flex-direction: column;
        padding: 10px 0px;
    }
}

.btn-wsp {
    position: fixed;
    width: 20px;
    height: 20px;
    line-height: 55px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0, .0);
    z-index: 100;
    margin-left: 10px;
}

.btn-wsp .icon-sea {
    font-size: 5px;
    width: 65px;
    margin-top: 10px;
    height: 65px;
    margin-left: 12px;
    box-shadow: 0px 2px 10px #001;
    border-radius: 50px;
    border: 1px solid #fff;
}

.btn-wsp .icon-sea:hover {
 margin-top: 30px;
 
}



